#original_fancyindex {
    margin: auto;
    width: calc(100% - 110px);
}

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}


@media screen and (max-width: 600px) {
    #list tr td:nth-child(3), #list tr td:nth-child(4), #list th:nth-child(3), #list th:nth-child(4){
        display: none
    }
    #list tr td:nth-child(1){
        width: 1%;
    }
    #original_fancyindex {
        margin: 10px;
    }
}


/* manage checkbox */
.siimple-checkbox label {
    background: unset !important;
}
.siimple-checkbox input[type=checkbox]:checked+label {
    background-color: #4e91e4 !important;
}

tr.file .siimple-checkbox input[type=checkbox]:not(:checked)+label:after {
    opacity: 1;
    font-family: 'icomoonauth';
    content: "\e922";
    transform:unset;
    top: unset;
    left: unset;
    border: unset;
}

tr.dir .siimple-checkbox input[type=checkbox]:not(:checked)+label:after {
    opacity: 1;
    font-family: 'icomoonauth';
    content: "\e92f";
    transform:unset;
    top: unset;
    left: unset;
    border: unset;
}

.parent td:nth-child(1):after {
    font-family: 'icomoonauth';
    position: relative;
    content: "\e934";
    color: lightgray;
    margin-left: 10px;
}

/* navbar */
.siimple-navbar--primary {
    position: fixed;
}
.siimple-navbar--primary .siimple-btn:hover {
    color: #4e91e4;
}
.siimple-navbar--primary .siimple-btn {
    font-size: 20px;
}

/* icon */

@font-face{
    font-family:icomoonauth;
    src:url(../font/icomoonauth.woff) format('woff');
    font-weight:400;
    font-style:normal
}

.icon-switch, .icon-cloud-upload, .icon-folder-plus, .icon-bin {
    font-family: icomoonauth;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-switch:before {
    content: "\e9b6";
}

.icon-cloud-upload:before {
    content: "\e9c3";
}

.icon-folder-plus:before {
    content: "\e931";
}

.icon-bin:before {
    content: "\e9ac";
}

/* table */
#list tr td:nth-child(3),
#list tr td:nth-child(4),
#list th:nth-child(3),
#list th:nth-child(4){
    text-align: right;
}

#list th:nth-child(2){
    text-align: left;
}

table {border-collapse: collapse; border-spacing: 0;}

thead th {border-bottom: 1px solid lightgray;}
table#list thead tr th {
    padding-bottom: 10px;
}
table#list tbody tr:nth-child(1) td {
    padding-top: 15px;
}

#list {
    margin-top: 20px;
    font-size: 1.2em;
}

#list td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#list tr:hover td, #list tr.selected td {
    font-weight:bold
} 